body {
    margin: 0;
    padding: 0;

}
.container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 500vh;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 21%;
    background-image: url(images/plants.jpg);
    background-size: cover;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1%;
    background-color: rgba(0,0,0,.0);
    padding-top: 28px;
    position: sticky;
    top: 0;
}

.nav-content-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: 5px;
    font-size: 30px;
    margin: 2px;
}

.nav-content-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: 5px;
    font-size: 30px;
}

nav ul li a.logo {
    font-size: 50px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    font-size: 22px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Harmattan', sans-serif;
    
}

nav ul li a:hover {
    background: #74BC00;
}

.main-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 55px;
}

.box2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 97%;
    margin: 10px;
    padding: 5px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #DFDFDF;
    flex-direction: column;
    width: 30%;
    height: 15%;
    margin: 10px;
    padding-bottom: 25px;
    background-color: #F7F7F7;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    background-image: url(images/carrots2.jpg);
    background-size: cover;
}

.card span {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.buy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 8%;
    border-radius: 1em 1em 1em 1em;
    background-color: #006CF9;
    color: white;
}

.buy:hover{
    background-color: white;
    color: #006CF9;
    border: 1px black solid;
}

.secondary-image {
    background-image: url(images/markus-spiske-vrbZVyX2k4I-unsplash2.jpg);
    background-size: cover;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.about {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.bio {
    color: white;
    font-size: 50px;
    width: 45%;
    height: 45%;
}

.profile-image {
    width: 23%;
    height: 35%;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: auto;
}

.profile-pic{
    display: inline;
    margin: 0 auto;
    margin-left: -38%;
    height: 100%;
    width: auto;
}